.userDetails-Container{
    display: flex;
    flex-wrap: wrap;
}

.user-card {
    max-width: 300px;
    min-width: 290px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: bisque;
    color: #333;
  }
  
  .user-name {
    font-size: 1.5em;
    color: #3498db;
  }
  
  .user-username {
    font-size: 1.2em;
    color: #333;
  }
  
  .user-email,
  .user-address,
  .user-phone,
  .user-website,
  .user-company {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .user-address p,
  .user-company p {
    margin: 5px 0;
  }
  
  /* You can customize the colors and styles based on your preferences */
  